{% extends 'interface/base.html' %}
{% block content %}

<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-20">
            <h1 class="display-8">Регистрация</h1>
            <div class="card text-right">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">
                    Регистрация
                </button>
        </div>
    </form>
</div>
{% endblock %}